{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue {{ user.firstname }}</h1>

    <div class="container form-group">
        {{ form_start(formProfil) }}
        {{ form_row(formProfil) }}
        <button type="submit" class="btn" style="width: auto">Modifier mes informations</button>
        {{ form_end(formProfil) }}
    </div>

    <div class="container">
        <button type="button" class="btn btn-dark" style="width: auto">
            <a href="{{ path('project_new') }}" style="text-decoration: none; color: white">Ajouter un projet</a>
        </button>
    </div>
    <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center">
        {% for project in projects %}
            <div class="card bg-dark text-white my-5" style="width: 15rem">
                <a href="{{ project.url }}" style="text-decoration: none; color: white; font-weight: bold; text-shadow: 1px 1px 1px black">
                    <img src="{{ project.photo }}" class="card-img" alt="{{ project.name }}">
                    <div class="card-img-overlay" style="vertical-align: bottom">
                        <h3 class="card-title text-center">{{ project.name }}</h3>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}