{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ project.name }}</h1>

    <div class="container" style="max-width: 50rem">
        <div class="card my-5">
            <a href="http://{{ project.url }}">
                <img src="{{ project.photo }}" class="card-img-top" alt="{{ project.name }}">
            </a>
            <div class="card-body">
                <p class="card-text">{{ project.description }}</p>
            </div>
        </div>
    </div>

    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

{% endblock %}
