{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Tous nos portfolios</h1>

        <div class="container my-5" style="display: flex; justify-content: space-around; flex-wrap: wrap; align-items: center">
        {% for user in users %}
            <div class="card" style="width: 28rem; border-radius: 3%">
                <a href="{{ path('portfolio_show', {'slug': user.slug}) }}">
                    <img src="{{ vich_uploader_asset(user, 'profilPhoto') }}" class="card-img-top" style="border-radius: 3%; max-height: 30rem" alt="{{ user.firstname }} {{ user.lastname }}">
                </a>
                <div class="card-body">
                    <h3>{{ user.firstname }} {{ user.lastname }}</h3>
                    <p class="card-text">{{ user.description }}</p>
                    {# <a href="{{ path('portfolio_edit', {'slug': user.slug}) }}">edit</a> #}
                </div>
            </div>
            {% endfor %}
        </div>
    {# <a href="{{ path('portfolio_new') }}">Create new</a> #}
{% endblock %}
